:host {
  display: block;
  background-color: var(--sneat-bg-primary);
  padding: 20px 10px !important;
  font-size: 15px;
}

p {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 15px;
}

strong {
  color: rgba(255, 3, 3, 1);
}

button {
  font-size: 16px;
  cursor: pointer;
}
