:host {
  display: block;
  background-color: var(--sneat-bg-primary);
  padding: 20px 10px !important;
  font-size: 15px !important;
  --mat-form-field-container-text-size: 15px !important;
  --mat-form-field-outlined-label-text-size: 15px !important;
  --mat-form-field-container-vertical-padding: 8px !important;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button[mat-raised-button] {
  min-width: 100px;
}
