<div class="title_modal">{{ title() }}</div>
<div mat-dialog-content>
  <form [formGroup]="residenceForm" class="form_modal">
    <mat-form-field appearance="outline" class="full-width custom-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre de la residencia" />
      @if (residenceForm.get('name')?.hasError('required')) {
        <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" placeholder="Dirección de la residencia" />
      @if (residenceForm.get('address')?.hasError('required')) {
        <mat-error>La dirección es obligatoria</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" placeholder="Número de teléfono" />
      @if (residenceForm.get('phone')?.hasError('pattern')) {
        <mat-error>Formato de teléfono inválido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Correo electrónico" />
      @if (residenceForm.get('email')?.hasError('email')) {
        <mat-error>Formato de email inválido</mat-error>
      }
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" [disabled]="isLoading()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isLoading() || residenceForm.invalid">
    @if (!isLoading()) {
      <span>{{ isEditMode() ? 'Actualizar' : 'Crear' }}</span>
    }
    @if (isLoading()) {
      <span>Guardando...</span>
    }
  </button>
</div>
