<div mat-dialog-content>
  <div class="title-modal">
    ¿Estás seguro de que quieres eliminar el task
    <strong>"{{ task.name }}"</strong>
    ?
  </div>
  <p>¡Esta acción no se puede deshacer!</p>

  <div class="warning-box">
    <mat-icon class="warning-icon">warning</mat-icon>
    <p>Este task está asociado a la categoría "{{ task.category_name }}" y residencia "{{ task.residence_name }}". Al eliminarlo, se perderá toda la configuración.</p>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" [disabled]="isLoading()">Cancelar</button>
  <button class="btn_color_free btn_red" (click)="onDelete()">
    @if (!isLoading()) {
      <span>Eliminar</span>
    }
    @if (isLoading()) {
      <span>Eliminando...</span>
    }
  </button>
</div>