.action-buttons {
  display: flex;
  button {
    margin-left: 14px;
    cursor: pointer;
  }
}

.add-table-button {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  button {
    cursor: pointer;
  }
}
mat-option,
.mat-mdc-option {
  margin: 0.5em 0;
}

.btn_rounded {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-button-toggle-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  mat-button-toggle {
    width: 18%;
    background-color: rgba(105, 108, 255, 0.1);
    border: 1px solid rgba(105, 108, 255, 0.2) !important;
    color: var(--sneat-primary);
    border-radius: 26px;
    margin-bottom: 1em;
    padding: 4px 16px;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--sneat-primary);
      color: var(--sneat-bg-primary);
    }
  }
}

// Establecer ancho fijo para la columna de acciones
.mat-mdc-cell.mat-column-actions,
.mat-mdc-header-cell.mat-column-actions {
  width: 190px;
  min-width: 190px;
  max-width: 190px;
}
