<div mat-dialog-content>
  <div class="title-modal">
    ¿Estás seguro de que quieres eliminar al profesional
    <strong>"{{ data.professional.alias }}"</strong>
    ?
  </div>
  <p>¡Esta acción no se puede deshacer!</p>

  @if (data.professional.residence_count > 0) {
    <div class="warning-box">
      <mat-icon class="warning-icon">warning</mat-icon>
      <p>
        Este profesional está asignado a {{ data.professional.residence_count }} residencia(s). Al eliminarlo, perderá todo el
        acceso asignado.
      </p>
    </div>
  }
</div>

<div mat-dialog-actions align="end">
  <button matButton (click)="onCancel()" [disabled]="isLoading()">Cancelar</button>
  <button matButton color="warn" (click)="onDelete()">
    @if (!isLoading()) {
      <span>Eliminar</span>
    }
    @if (isLoading()) {
      <span>Eliminando...</span>
    }
  </button>
</div>
