<div mat-dialog-content>
  <div class="title-modal">
    ¿Estás seguro de que quieres eliminar al residente
    <strong>"{{ data.full_name }}"</strong>
    ?
  </div>
  <p>¡Esta acción no se puede deshacer!</p>
</div>

<div mat-dialog-actions align="end">
  <button matButton (click)="onCancel()" [disabled]="isLoading()">Cancelar</button>
  <button matButton color="warn" (click)="onDelete()">
    @if (!isLoading()) {
      <span>Eliminar</span>
    }
    @if (isLoading()) {
      <span>Eliminando...</span>
    }
  </button>
</div>
