<div mat-dialog-content>
  <h3>
    ¿Estás seguro de que quieres eliminar la residencia
    <strong>"{{ data.name }}"</strong>
    ?
  </h3>
  <p>Esta acción no se puede deshacer.</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" [disabled]="isLoading()">Cancelar</button>
  <button class="btn_color_free btn_red" (click)="onDelete()" [disabled]="isLoading">
    @if (!isLoading()) {
      <span>Eliminar</span>
    }
    @if (isLoading()) {
      <span>Eliminando...</span>
    }
  </button>
</div>
